/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#infosniper-header {
  background-image: url('images/track-ip-header2.jpg');
  padding: 15px;
}

#infosniper-header #logo {
  background-image: url('images/infosniper-logo.png');
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: 100%;
  width: 140px;
  height: 90px;
}

#banner_ads,
#info-sniper-tabs .right {
  float: right;
}

.info-sniper-content {
  background-color: #E7DDC2;
  padding-bottom: 1px;
}

#info-sniper-tabs {
  background-color: #900;
  padding: 0;
  height: 46px;
  margin-bottom: 1px;
}

#info-sniper-tabs .left {
  float: left;
}

.info-sniper-tab {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 22px;
  transition: 0.3s;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
}

.info-sniper-tab:hover {
  background-color: #890000;
  color: #FFF; 
}

.info-sniper-tab:focus {
  color: #FFF;
}

.info-sniper-tab-active {
  background-color: #7a0000;;
}

#credits-tab {
  cursor: auto !important;
}
#dashboard-buttons,
#dashboard-buttons-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#dashboard-buttons,
#dashboard-buttons-2,
#infosniper-ads {
  background: #E7DDC2 url(images/stripes-light.png);
  padding: 15px;
}

#infosniper-ads {
  font-size: x-large;
  line-height: 1.2;
}

#info-sniper-dashboard-radio {
  color: #fff;
}

#button-styling-wrap {
  border: 0;
  background: #97040B url(images/infosniper-icon-white.png) no-repeat 6px center;
  background-size: 15px;
  border-radius: 3px;
  line-height: 21px;
  vertical-align: top;
  padding: 10px 13px 10px 26px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;;
  display: flex;
}

.dashboard-button {
  color: #fff;
  cursor: pointer;
  padding: 3px 13px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 3px;
  background: #97040B;
  vertical-align: top;
  transition: ease-in .3s;
}

.dashboard-button:hover {
  background-color: #B70009;
}

.info-sniper-tab-content {
  display: none;
}

.info-sniper-active {
  display: inline;
}

#info-sniper-data-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#leaflet-map {
  height: 400px;
  z-index: 0;
}

#leaflet-map,
.chart-container {
  width: 50%;
  display: inline-block;
  background-color: #FFF;
}

#geo-table, 
#page-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #FFF;
  margin: 10px 0;
}

#geo-table td, 
#geo-table th, 
#page-table td, 
#page-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 50%;
}

#geo-table tr:nth-child(even), 
#page-table tr:nth-child(even) {
  background-color: #dddddd;
}

#info-table,
.dataTables_scrollHead {
  background-color: #FFF;
}

#info-sniper-form,
#help h2,
#info-table_length,
#info-table_info{
  padding-left: 15px;
}

#info-table_filter,
#info-table_paginate {
  padding-right: 15px;
}

#help p,
#help ul {
  padding-left: 25px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex; 
  margin-top: 1px;
}

.row .col-md-6 {
  padding: 0 15px; 
  width: 50%; 
  display: flex-block;
}

#info-sniper-form input[type="text"], 
#info-sniper-form input[type="password"], 
#info-sniper-form select {
  width: 256px;
}

.infosniper-tile-preview {
  margin-top: 15px;
}

.callout {
  background: #eee;
  padding: 20px;
  margin: 15px;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 5px 6px rgba(0,0,0,0.125);
}

.callout h2 {
  margin-top: 0;
  font-size: 1.75em;
}

.callout ul li {
  list-style: disc;
  margin-left: 30px;
}

.btn {
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px 28px;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
  box-shadow: 0 7px #7a0000;
  margin-bottom: 4px;
  transition: 0.3s;
}

.btn.small {
  font-size: 0.8em;
  padding: 4px 10px;
}

.btn:active, 
.btn:hover, 
.btn:focus {
  box-shadow: 0 3px #7a0000;
  margin-top: 4px;
  margin-bottom: 0;
}

.btn-danger {
  background: #c00;
  color: #fff;
}

.btn-danger:hover {
  color: #fff;
}

.btn-black {
  background: #000;
  border: 1px solid #000;
  box-shadow: none;
  margin-bottom: 0;
  color: #fff;
}

.btn-black.outline {
  background: transparent;
  box-shadow: none;
  margin-bottom: 0;
  color: #000;
  border: 1px solid #000;
}

.btn-black:hover,
.btn-black.outline:hover {
  color: #fff;
  background: #c00;
  border-color: #c00;
  margin-top: 0;
  box-shadow: none;
}

tr.api-label-desc td {
  padding: 0 0 15px;
}

tr.api-label td, 
tr.api-label th {
  padding-bottom: 5px;
}

#key-visibility-toggle,
#key-validate {
  display: inline;
}

#wpwrap {
  background: #CBBE9E url('images/bg_body.png') repeat-x;
}

#info-sniper-dashboard-form {
  margin-right: 10px;
}

#info-sniper-dashboard-form input {
  height: 28px;
}

#info-sniper-dashboard-radio input, 
#info-sniper-dashboard-radio label {
  margin-top: 4px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

#info-sniper-dashboard-radio input {
  margin-right: 0;
}

.user-log {
  width: 100%;
  border-bottom: 1px solid #990000;
}

.user-info-basic {
  display: flex;
  padding: 5px 0;
  cursor: pointer;
}

.user-info-right {
  margin-left: auto;
  padding: 5px;
}

.user-info-extended,
.info-sniper-content-log,
.user-info-left {
  display: flex;
}

.user-info-time,
.user-info-usertype {
  min-width: 140px;
}

.user-info-time,
.user-info-usertype,
.user-info-ip {
  padding: 5px;
}

.user-info-ip {
  min-width: 125px;
}

.user-info-browser,
.user-info-os {
  min-width: 50px;
  padding-right: 5px;
}


.info-sniper-content-log {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  margin: 0;
  padding: 7px 10px;
  text-align: left;
  font-size: 11px;
  text-decoration: none;
  color: #333333;
}

.info-sniper-content-title {
  color: #000;
  font-size: 10px;
  text-align: left;
  padding: 0;
  font-weight: normal;
}

.info-sniper-content-group {
  max-width: 200px;
  min-width: 150px;
  color: #990000;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
  padding-bottom: 5px;
  word-break: break-word;
}

.info-sniper-map {
  height: 400px;
  width: 50%;
}

.pageNumber,
.page-ellipsis {
  font-size: medium;
  margin-right: 5px;
  transition: ease-in .3s;
}

#pages {
  padding: 10px 5px 5px 5px;
}

.type-User {
  background-color: #a8cdeba6;
}

.type-Threat {
  background-color: #e2acb799;
}

.type-Bot {
  background-color: #78d39d87;
}

.type-Admin {
  background-color: #baa1d47d;
}

#span-container {
  display: flex;
  justify-content: space-between;
}

#left-arrow,
#right-arrow,
#left-full,
#right-full {
  cursor: pointer;
  font-size: x-large;
  padding: 5px;
}

.selected-page {
  border: 1px solid black;
  background-color: #97040B;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.focus {
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
  border-radius: 3px;
}

.log-logo {
  height: 24px;
}

.is-pntr {
  cursor: pointer;
}

#log-clear-wrap {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  z-index: 42;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: space-around;
}

#clear-message {
  background-color: white;
  z-index: 43;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
  min-width: 500px;
  border-radius: 5px;
  filter: drop-shadow(5px 5px 5px black);
  text-align: center;
  text-transform: none;
}

#clear-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#infosniper-queries-info {
  margin-right: 10px;
}

#progress {
  display: none;
  position: relative;
  z-index: 1000;
  top: 175px;
  width: 80%;
  height: 50px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  padding: 2px;
  margin: auto;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #76A6FC;
  border-radius: 4px;
}

#freetrial-question {
  padding-right: 105px;
}

.key-status {
  display:inline;
}

#key-valid {
  color: green;
}

#key-invalid {
  color: red;
}

#key-valid,
#key-invalid {
  padding: 4px 10px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #000;
}